header, footer {
    padding: 0.5rem;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x
}

.nav-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

main {
    height: 80vh;
}

 /* Navbar container */
.navbar {
  display: flex;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {

  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#search-bar{
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 30;
    line-height: 1.2rem;
}

footer {
    justify-content: center;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  .nav-area {
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
  }

}
