{% extends 'layout.html' %}
{% block body %}
<section class="about-section">
    <div class="about-container">
        <h1 class="about-title">About Us</h1>
        <p class="about-intro">
            Welcome to <span class="about-highlight">{{params["title"]}}</span>, your ultimate destination for <b>free online courses</b>! We believe in the power of knowledge and the importance of accessibility. Our platform is dedicated to helping you unlock your full potential, expand your horizons, and acquire new skills, all without breaking the bank.
        </p>
        <p>
            We're committed to making education accessible to everyone, no matter where you are in the world. Join our vibrant community of learners today. Take that first step towards personal and professional growth. Enroll in a course, engage with fellow learners, and embark on an exciting journey of discovery. At <span class="about-highlight">{{params["title"]}}</span>, the pursuit of knowledge is open to all. Start learning, for free, for life.
        </p>
        <p>
            <b>What makes us unique?</b> We offer a diverse range of high-quality courses, all completely free of charge. Whether you're a student, a professional looking to upskill, or someone with a curious mind eager to explore new subjects, we have something for you. Our courses cover a wide spectrum of topics, from technology and business to arts, humanities, and beyond.
        </p>
        <h2 class="about-team-title">Meet Our Team</h2>
        <div class="team-members">
            <div class="team-card">
                <img src="https://media.licdn.com/dms/image/D5603AQE1_-xGD6AHkw/profile-displayphoto-shrink_800_800/0/1682958185650?e=2147483647&v=beta&t=TmF0scVjqdUyywr6T7Zlqw28T8sucXSn99Es-6cmIiQ" alt="DP Image" class="avatar"/>
                <p class="team-name">Prince Kaustubh</p>
                <p class="team-role">Founder</p>
            </div>
            <div class="team-card">
                <img src="https://raw.githubusercontent.com/tanishka2004/portfolio/main/photo.jpg" alt="DP Image" class="avatar"/>
                <p class="team-name">Tanishka jain</p>
                <p class="team-role">Operations Manager</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
