{% extends 'layout.html' %}
{% block body %}
<div id="about-us">
    <div>
        <h1>About Us</h1>
        <p>Welcome to {{params["title"]}}, your ultimate destination for free online courses! We believe in the power of
            knowledge and the importance of accessibility. Our platform is dedicated to helping you unlock your full
            potential, expand your horizons, and acquire new skills, all without breaking the bank.</p>
        <p>We're committed to making education accessible to everyone, no matter where you are in the world. Join our
            vibrant community of learners today. Take that first step towards personal and professional growth. Enroll
            in a course, engage with fellow learners, and embark on an exciting journey of discovery. At Course Hub, the
            pursuit of knowledge is open to all. Start learning, for free, for life.</p>
        <p>What makes us unique? We offer a diverse range of high-quality courses, all completely free of charge.
            Whether you're a student, a professional looking to upskill, or someone with a curious mind eager to explore
            new subjects, we have something for you. Our courses cover a wide spectrum of topics, from technology and
            business to arts, humanities, and beyond. No matter what your interests are, there's a course here that's
            perfect for you.</p>
    </div>
</div>
{% endblock %}