{% extends 'admin-layout.html' %}
{% block body %}
{% for message in get_flashed_messages() %}
{% if message["success"] %}
<div class="alert success">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{message["msg"]}}
</div>
{% else %}
<div class="alert fail">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{message["msg"]}}
</div>
{% endif %}
{% endfor %}

{% if current_user.role == "admin" %}
<!-- Code for flash messages ends here -->
<div class="container">
    <a href="/admin/dashboard" id="home-button"><< Go To Home</a>
    {% if data.items|length == 0 %}
    <div class="no-data">
        <p>No Data Found</p>
    </div>
    {% else %}
  <div id="course-list">
    <table>
      <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Date Added</th>
        <th colspan="2">Actions</th>
      </tr>
      {% for user in data.items %}
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>{{user.date_added}}</td>
          {% set username = user.username %}
        <td><button onclick={{"deleteData('" + username + "')"}} >Delete</button></td>
          <td><button><a href="/admin/change_password?username={{username}}">Change Password</a> </button></td>
      </tr>
      {% endfor %}
    </table>

  <div class="pagination">
        <span class="step-links">
            {% if data.has_prev %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ data.prev_num }}">Previous</a>
            {% endif %}
            <span class="current-page">{{ data.page }}</span>
            {% if data.has_next %}
            <a href="?page={{ data.next_num }}">Next</a>
            <a href="?page={{ data.pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>
     {% endif %}
</div>

<!-- JS Script to delete course -->
<script>
  function deleteData(username) {
    fetch(`/admin/manage_users?username=${username}`, {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json'
            // You may need to add other headers as required
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        console.log('Success:', data);
        // Handle the success response as needed
    })
    .catch(error => {
        console.error('Error:', error);
        // Handle any errors during the delete request
    });
    window.location.reload();
  }
</script>
{% else %}
<div class="alert fail">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  You are not authorised to view this page!!!
</div>
<div class="container">
  <a href="/admin/dashboard" id="home-button"><< Go To Home</a>
</div>
{% endif %}
{% endblock %}
