{% extends 'admin-layout.html' %}
{% block body %}
{% for message in get_flashed_messages() %}
{% if message["success"] %}
<div class="alert success">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{message["msg"]}}
</div>
{% else %}
<div class="alert fail">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  {{message["msg"]}}
</div>
{% endif %}
{% endfor %}

{% if current_user.role == "admin" %}
<div class="container">
  <a href="/admin/dashboard" id="home-button"><< Go To Home</a>
  <form method="POST" action="/admin/change_password" autocomplete="off">

    <fieldset>
      <legend>
        <h2>Change Password for: {{data}}</h2>
      </legend>
      <label for="password">New Password: </label>
      <input type="text" id="password" name="password" maxlength="18" required><br />
      <input type="hidden" name="username" id="username" value="{{data}}">
      </select>
      <input type="submit" value="Submit">
    </fieldset>
  </form>
</div>
{% else %}
<div class="alert fail">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  You are not authorised to view this page!!!
</div>
<div class="container">
  <a href="/admin/dashboard" id="home-button"><< Go To Home</a>
</div>
{% endif %}
{% endblock %}
