{% extends 'layout.html' %}
{% block body %}
<div class="social-buttons">
    <a href="https://t.me/Coursearena" class="social-button telegram-button" target="_blank">
        <i class="fab fa-telegram"></i>
    </a>
    <a href="https://chat.whatsapp.com/GqXD9WguuEl4plWgKGLMVn" class="social-button whatsapp-button" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>
    <!--        <a href="https://www.instagram.com/" class="social-button instagram-button" target="_blank">-->
    <!--            <i class="fab fa-instagram"></i>-->
    <!--        </a>-->
    <a href="https://www.linkedin.com/company/coursearena/" class="social-button linkedin-button" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:contactlemonmedia@gmail.com" class="social-button youtube-button" target="_blank">
        <i class="fa-solid fa-envelope"></i>
    </a>
</div>
{% endblock %}