{% extends 'layout.html' %}
{% block body %}
<div id="disclaimer-page">
    <div>
        <h1>Disclaimer</h1>
        <p>If we Have added some content that belong to you or your organization by mistake, We are sorry for that. We
            apologize for that and assure you that this wont be repeated in future. If you are rightful owner of the
            content used in our Website, Please mail us with your Name, Organization Name, Contact Details, Copyright
            infringing URL and Copyright Proof (URL or Legal Document) at <em>contactlemonmedia@gmail.com</em></p>
        <p>I assure you that, I will remove the infringing content Within 48 Hours.</p>

        <pre>

        <img src="https://media.licdn.com/dms/image/D5603AQE1_-xGD6AHkw/profile-displayphoto-shrink_800_800/0/1682958185650?e=2147483647&v=beta&t=TmF0scVjqdUyywr6T7Zlqw28T8sucXSn99Es-6cmIiQ" alt="DP Image" class="avatar"/>
        Prince Kaustubh
        CEO
        <a href="https://in.linkedin.com/in/princekaustubh">LinkedIn</a>
    </pre>
    </div>
</div>
{% endblock %}