{% extends 'layout.html' %}
{% block body %}
<section class="disclaimer-section">
    <div class="disclaimer-container">
        <h1 class="disclaimer-title">Disclaimer</h1>
        <p>
            If we have added some content that belongs to you or your organization by mistake, we are sorry for that. We
            apologize and assure you that this won't be repeated in the future. If you are the rightful owner of the
            content used on our website, please mail us with your Name, Organization Name, Contact Details, Copyright
            infringing URL, and Copyright Proof (URL or Legal Document) at this email address:           <em>contactlemonmedia@gmail.com</em>.
        </p>
        <p>
            We assure you that we will remove the infringing content within 48 hours.
        </p>
    </div>
</section>
{% endblock %}