<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{params["title"]}}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='/img/logo.ico') }}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-center">
                <div class="navbar-logo">
                    <a href="/">{{ params["title"] }}</a>
                </div>
                <div class="navbar-links">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/courses">Courses</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <footer>
        <div class="foot_grid">
            <div>
                <h2>LemonMedia</h2><br/>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/company/coursearena/" class="social-button linkedin-button" target="_blank">
                        <i class="fab fa-linkedin"></i></a>
                    <a href="https://t.me/Coursearena" class="social-button telegram-button" target="_blank">
        <i class="fab fa-telegram"></i>
    </a>
                    <!-- Add more social icons as needed -->
                </div>
            </div>
            <div class="foot_link">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/disclaimer">Disclaimer</a></li>
                    <li><a href="https://forms.gle/W4kq9Ag8WkrMoGF69" target="_blank">Submit Coupon</a></li>
                    <li><a href="https://linktr.ee/lemonmedianetwork" target="_blank">Join Our Group</a></li>
                    <li><a href="#">Donate</a></li>
                </ul>
            </div>
            <div class="foot_link" id="con">
                <h3>Contact Us</h3>
                <p>Mumbai, India</p>
                <p>Email: contactlemonmedia@gmail.com</p>
                <p><a href="https://wa.me/+918461085223">WhatsApp: +91-8461085223</a> </p>
            </div>
        </div>
    </footer>
</body>

</html>
